<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart</title>
</head>
<body>
<div th:insert="~{menu :: menu}"></div>


<div class="container-md">

    <div class="container-md">
        <h2 class="text-capitalize sub-heading">Cart</h2>
        <div class="row">

            <div class="col-md-12">
                <!-- Form Start -->
                <form action="#">
                    <!-- Table Content Start -->
                    <div class="table-content table-responsive mb-50"
                         th:each="product : ${cart}">
                        <table>
                            <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">Total</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="product-thumbnail">
                                    <a href="#">
                                        <img th:src="@{'/images/'+ ${product.image}}"
                                             th:alt="${product.name}">
                                    </a>
                                </td>
                                <td class="product-name" th:text="${product.getName()}">
                                    <a href="#"></a>
                                </td>
                                <td class="product-price">
                                    <span class="amount" th:text="${product.price}"></span>
                                </td>
                                <td class="product-quantity">
                                    <a class="count-plus-minus"
                                       th:href="@{'/cart/remove?id=' + ${product.getId()}}">-</a>
                                    <input th:placeholder="${@cartService.getCountOfProduct(product)}"
                                           type="text" value="1">
                                    <a class="count-plus-minus" th:href="@{'/cart/add?id=' + ${product.getId()}}">+</a>
                                </td>
                                <td class="product-subtotal" th:text="${totalSum}"></td>
                                <td class="product-remove">
                                    <a th:href="@{'/cart/delete?id=' + ${product.getId()}}">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- Table Content Start -->
                    <div class="row">
                        <!-- Cart Button Start -->
                        <div class="col-lg-8 col-md-7">
                            <div class="buttons-cart">
                                <input type="submit" value="Update Cart">
                                <a href="#">Continue Shopping</a>
                            </div>
                        </div>
                        <!-- Cart Button Start -->
                        <!-- Cart Totals Start -->
                        <div class="col-lg-4 col-md-12">
                            <div class="cart_totals">
                                <h2>Cart Totals</h2>
                                <br>
                                <table>
                                    <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td>
                                            <span class="amount" th:text="${totalDiscount}"></span>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td>
                                            <strong>
                                                <span th:text="${totalSum}" class="amount"></span>
                                            </strong>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="wc-proceed-to-checkout">
                                    <a th:href="@{'/cart/order'}">Checkout</a>
                                </div>
                            </div>
                        </div>
                        <!-- Cart Totals End -->
                    </div>
                    <!-- Row End -->
                </form>
                <!-- Form End -->
            </div>
        </div>
        <!-- Row End -->


    </div>


</div>

<div th:insert="~{footer::footer}"></div>
</body>
</html>