<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Store</title>
</head>

<body>
<!--Top Menu-->
<div th:insert="~{menu :: menu}"></div>


<!--Products-->
<div class="container-fluid">

    <div th:insert="~{products::products}"></div>

</div>

<div th:insert="~{footer::footer}"></div>

<!-- Start Script -->
<script src="/script/jquery-1.11.0.min.js"></script>
<script src="/script/jquery-migrate-1.2.1.min.js"></script>
<script src="/script/bootstrap.bundle.min.js"></script>
<script src="/script/templatemo.js"></script>
<script src="/script/custom.js"></script>
<script src="/script/slick.min.js"></script>
<script src="/script/templatemo.min.js"></script>
<!-- End Script -->
</body>
</html>