<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container">

            <div class="container-fluid top-menu">
                <a id="logo" class="navbar-brand logo" href="/">Web Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown" th:unless="${@request.getServletPath().equals('/cart')}">
                            <button class="btn btn-success dropdown-toggle " id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Categories
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li th:each="category : ${@categoryService.getCategories()}">
                                    <a class="dropdown-item" name="category" type="request"
                                       th:href="@{'/categories/' + ${category.name}}"
                                       th:text="${category.name}"/>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="search" th:unless="${@request.getServletPath().equals('/cart')}">
                        <form class="d-flex">
                            <input class="form-control me-2 " name="search" type="search" placeholder="Search"
                                   aria-label="Search"/>
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div >

                    <div class="empty" th:unless="${@request.getServletPath().equals('/')}">
                    </div>

                    <div class="cart-image">
                        <a th:href="@{'/cart'}">
                            <img th:src="@{/images/cart.png}" class="cart-png">
                        </a>
                        <div th:unless="${@cartService.getUserSessionCart().productCart.isEmpty()}">
                            <img th:src="@{/images/cart_point.png}" class="cart-point-img">
                            <p th:text="${@cartService.getProductsCount()}"
                               class="cart_prod_count"/>
                        </div>
                    </div>

                </div>
            </div>
            <div class="sign-up-main">
                <a th:if="${#authentication.name.equals('anonymousUser')}" th:href="@{'/reg'}">Sign Up</a>
                <a th:if="${#authentication.name.equals('anonymousUser')}" th:href="@{'/login'}">Sign In</a>
                <a th:if="${!#authentication.name.equals('anonymousUser') && #authorization.expression('hasRole(''USER'')')}"  th:href="@{'/user'}"
                   th:text="${#authentication.name}"/>
            </div>
        </div>

    </nav>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>