<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title th:text="'User'"/>
</head>

<body>
<div th:insert="~{menu :: menu}"/>

<div class="wrapper">
    <div class="top container">

        <form class="row g-3 order" method="post" th:object="${order}" th:action="@{/cart/order/checkout}">
            <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input th:field="*{address}" type="text" class="form-control" id="inputAddress"
                       placeholder="1234 Main St">
            </div>

            <div class="col-md-6">
                <label for="validationCustom03" class="form-label">City</label>
                <input type="text" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>

            <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <div>
                <input type="hidden" th:field="*{totalSum}" th:value="${totalSum}">
            </div>
            <div>
                <h3 th:text="'Total sum: ' + ${totalSum}"/>
            </div>

            <div class="col-12">
                <a class="btn btn-primary" th:href="@{/cart}" role="button">Back</a>
                <button type="submit" class="btn btn-primary">Checkout</button>
            </div>

        </form>

    </div>

    <div th:insert="~{footer::footer}"></div>

</div>

</body>

</html>