<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Registration</title>
</head>
<body>
<div th:insert="~{menu :: menu}"></div>
<div class="wrapper">
    <div class="top container">
        <form method="post" class="reg-page" th:action="@{/reg}" th:object="${newUser}">
            <h3 style="padding-bottom: 25px">User registration</h3>
            <div class="reg-page-blocks">
                <div class="input-group-reg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default1">Firstname</span>
                    <input th:field="*{firstname}" type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default1" required="required">
                </div>
                <div class="input-group-reg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default2">Lastname</span>
                    <input th:field="*{lastname}" type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default2" required="required">
                </div>
            </div>
            <div class="reg-page-blocks">
                <div class="input-group-reg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default3">Age</span>
                    <input th:field="*{date}" type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default3" required="required">
                </div>
                <div class="input-group-reg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default7">Email</span>
                    <input th:field="*{email}" type="text" class="form-control reg-email-input"
                           aria-label="Sizing example input"
                           th:placeholder="${emailExist}"
                           aria-describedby="inputGroup-sizing-default7" required="required">
                </div>
                <div class="input-group-reg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default8">Phone</span>
                    <input th:field="*{phone}" type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default8" required="required">
                </div>
            </div>
            <div class="reg-page-blocks">
                <div class="input-group-reg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default5">Password</span>
                    <input th:field="*{password}" type="password" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default5" required="required">
                </div>
                <div class="input-group-reg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default6">Confirm password</span>
                    <input th:field="*{matchingPassword}" type="password" class="form-control"
                           aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default6" required="required">
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </form>
    </div>


    <div th:insert="~{footer::footer}"></div>
</div>
</body>
</html>