<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>About product</title>
</head>
<body>
<div th:insert="~{menu :: menu}"></div>

<div class="wrapper">
    <div class="top my-container">
        <div style="margin: 50px" >
            <form th:action="@{/admin/update/product}"
                  th:object="${product}"
                  method="post"
                  enctype="multipart/form-data">

                <input type="hidden" th:field="*{id}">
                <div class="input-group mb-3">
                    <span class="input-group-text">Name</span>
                    <input th:field="*{name}"
                           th:placeholder="${product.name}"
                           id="product-name"
                           type="text"
                           class="form-control">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Description</span>
                    <input id="description"
                           th:field="*{description}"
                           th:placeholder="${product.description}"
                           type="text"
                           class="form-control">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Status</span>
                    <input id="status"
                           th:field="*{status}"
                           th:placeholder="${product.status}"
                           type="text"
                           class="form-control">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Price</span>
                    <input id="price"
                           th:field="*{price}"
                           th:placeholder="${product.price}"
                           type="text"
                           class="form-control">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Old price</span>
                    <input id="old-price"
                           th:field="*{oldPrice}"
                           th:placeholder="${product.oldPrice}"
                           type="text"
                           class="form-control">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Count</span>
                    <input id="count"
                           th:field="*{count}"
                           th:placeholder="${product.count}"
                           type="text"
                           class="form-control">
                </div>

                <div>
                    <h5>Choice picture</h5>
                </div>
                <div class="input-group mb-3">
                    <input class="form-control"
                           multiple="multiple"
                           type="file"
                           id="formFile"
                           name="file"/>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Category</span>
                    <select class="form-select" th:field="*{categoryName}">
                        <option th:each="category : ${categories}"
                                th:text="${category}"
                                th:value="${category}"
                                th:selected="${category.equals(product.categoryName)}"/>

                    </select>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Brands</span>
                    <select class="form-select" th:field="*{brandName}">
                        <option th:each="brand : ${brands}"
                                th:text="${brand}"
                                th:value="${brand}"
                                th:selected="${brand.equals(product.brandName)}"/>
                    </select>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>

            </form>
        </div>
    </div>
    <div th:insert="~{footer::footer}"></div>
</div>

</body>
</html>